@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

    }
    <a href="javascript:document.getElementById('logoutForm').submit()">
        會員登出
    </a>
}
else
{
    <a href="@Url.Action("Login", "Account", routeValues: new { returnUrl = HttpContext.Current.Request.RawUrl})">會員登入</a>


}
