@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "錯誤";
}
<script>
    setTimeout(function () { window.location = 'http://' + '@HttpContext.Current.Request.Url.Authority' + '/Home/Index' }, 5000);
</script>
<h1 class="text-danger">請稍後一下，５秒後重新導回首頁。</h1>
<h2 class="text-danger">目前系統發生問題，請重新操作一次。</h2>
<h2 class="text-danger">如一直發生請聯絡客服人員。</h2>

