@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Roboto", sans-serif;
}

.go_top{position: fixed;right:38px;bottom: 10%;z-index:4;width: 60px;height: 60px;background-color: #B28146;border-radius: 100%;display: none;align-items: center;justify-content: center;cursor: pointer;}
.go_top.active{display: flex;}
.go_top::before{content: url(./img/arrow-up.svg);margin-bottom: -5px;}

header {
  background-color: #333333;
  position: relative;
}

.top_main {
  display: flex;
  justify-content: space-between;
}
.top_main .logo {
  width: 158px;
  padding: 5px 0;
}
.top_main > nav > ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  height: 100%;
  align-items: center;
}
.top_main > nav > ul > li {
  font-size: 1.1rem;
  margin-right: 1.25rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.top_main > nav > ul > li:last-child {margin-right: 0;}
.top_main > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.top_main > nav > ul > li.sub > a::after {
  content: url(./img/caret-down.svg);
  margin: 0 0 0.4rem 0.5rem;
  display: block;
}
.top_main > nav > ul > li.sub > div.sub_menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4;
  width: 100%;
  background-color: #555555;
  padding: 1.5rem 0;
  transform: scaleY(0);
  transition-duration: 0.3s;
  transform-origin: top;
}
.top_main > nav > ul > li.sub > div.sub_menu > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  max-width: 770px;
  margin: 0 auto;
  justify-content: space-between;
}
.top_main > nav > ul > li.sub > div.sub_menu > ul > li > a {
  color: #fff;
  font-size: 1.15rem;
  text-decoration: none;
}

.top_main > nav > ul > li:hover > div.sub_menu {
  transform: scaleY(1);
}

.toolbar ul {
  padding-left: 0;
  display: flex;
  height: 100%;
  align-items: center;
}
.toolbar ul li {
  margin-right: 1.9rem;
  width: 24px;
  cursor: pointer;
}
.toolbar ul li:last-child {margin-right: 0;}

.toolbar .search_bar{position: absolute;width: 100%;left:0;top:100%;z-index: 3;background-color: #555555;padding: 1rem 0;transform: scaleY(0);transition-duration: .3s;transform-origin: top;}
.toolbar .search_bar.active{transform: scaleY(1);}
.toolbar .search_bar .search_inner{display: flex;align-items: center;justify-content: space-between;}
.toolbar .search_bar .search_inner input{background-color: inherit;outline: none;border: none;color:#fff;font-size: 1.25rem;width:calc(100% - 105px);line-height: 38px;}
.toolbar .search_bar .search_inner button{background-color: #B28146;color: #fff;outline: none;border: none;width: 100px;height:40px;font-size: 1.25rem;}

.silder_block {
  position: relative;
}
.silder_block .banner.splide--ttb > .splide__pagination {
  right: 40px;
  bottom: 15%;
}
.silder_block
  .banner.splide--ttb
  > .splide__pagination
  .splide__pagination__page {
  background-color: inherit;
  width: 20px;
  height: 20px;
  opacity: 1;
  margin: 6px;
  border: 1px solid #fff;
}
.silder_block
  .banner.splide--ttb
  > .splide__pagination
  .splide__pagination__page:hover {
  background-color: #fff;
}
.silder_block
  .banner.splide--ttb
  > .splide__pagination
  .splide__pagination__page.is-active {
  background-color: #fff;
  transform: scale(1);
}
.silder_block img {
  width: 100%;
}
.silder_block .go_to {
  position: absolute;
  left: calc(50% - 40px);
  bottom: -40px;
  width: 80px;
  height: 80px;
  background-color: #555555;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.silder_block .go_to::after {
  content: "";
  color: #fff;
  display: block;
}

/*首頁共用大標題*/
.title_index {
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  position: relative;
}
.title_index::after {
  content: "";
  border-top: 2px solid #b28146;
  border-bottom: 2px solid #b28146;
  width: 239px;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: calc(50% - 119.5px);
  padding-bottom: 1px;
}
.title_index h1 {
  display: inline-block;
  margin: 0;
  padding: 0 32.5px;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 500;
}
.title_index h1 span {
  font-weight: 300;
  margin: 0 8px;
}
.title_index .more {
  position: absolute;
  right: 0;
  bottom: 0;
}
.title_index .more a {
  color: #7b94e8;
  font-size: 1rem;
  text-decoration: none;
}

.news_block {
  background-image: url(./img/img-newsSection.png);
  background-size: cover;
  background-position: center center;
  padding: 5rem 0;
  position: relative;
}
.news_block .more{position: absolute;right:0;bottom: 0;width: 160px;height:71px;background-color: #B28146;}
.news_block .more a{display: flex;color: #fff;font-size: 1.25rem;height: 100%;align-items: center;justify-content: center;text-decoration: none;}

.news_slider {
  margin-top: 0.5rem;
  position: relative;
}
.news_slider .item {
  color: #fff;
  text-align: center;
}
.news_slider .item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 400;
}
.news_slider .item p {
  font-size: 1.25rem;
}
.news_slider .item .place {
  font-size: 1.25rem;
}
.news_slider .item .btn {
  margin-top: 2rem;
  padding: 0;
}
.news_slider .item .btn a {
  background-color: #000000;
  color: #fff;
  font-size: 1.25rem;
  padding: 13px 35px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}
.news_slider .owl-dots {
  display: none;
}

.news_slider .owl-nav {
  position: absolute;
  width: 100%;
  height: 0;
  top: calc(50% - 40px);
  display: flex;
  justify-content: space-between;
}
.news_slider.owl-carousel .owl-nav button.owl-prev,
.news_slider.owl-carousel .owl-nav button.owl-next {
  width: 80px;
  height: 80px;
  font-size: 60px;
  color: #dddddd;
  outline: none;
}
.news_slider.owl-carousel .owl-nav button.owl-prev span,
.news_slider.owl-carousel .owl-nav button.owl-next span {
  margin-bottom: 10px;
}

.products_block {
  padding-top: 6rem;
}
.products_block .title_index {
  color: #333333;
  border-color: #dddddd;
}

.products_block .list {
  margin-top: 2.5rem;
}
.products_block .list .item {
  margin-bottom: 2.5rem;
  text-decoration: none;
  display: block;
}
.products_block .list .item .img {
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 10px;
}
.products_block .list .item .title {
  color: #333333;
  font-size: 1.15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.products_block .list .item .price {
  color: #b28146;
  font-size: 1.15rem;
}

.video_block {
  margin-top: 2.5rem;
}
.video_block .title_index {
  color: #333333;
  border-color: #dddddd;
}
.video_block .list {
  margin-top: 2.5rem;
}
.video_block .list .item {
  margin-bottom: 2.5rem;
}
.video_block .list .item .title {
  color: #333333;
  font-size: 1.15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.video_block .list .item .video {
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
  position: relative;
  margin-bottom: 10px;
}
.video_block .list .item .video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.artisan_block {
  width: 100%;
  height: 0;
  padding-bottom: 50.9%;
  background-image: url(./img/img-artisan-artisanSection.png);
  background-size: cover;
  background-position: center center;
}

footer {
  background-color: #333333;
  padding: 2.5rem 0;
}
footer .footer_content {
  padding: 0 3rem;
}
footer .footer_link {
  margin-top: 4.5rem;
}
footer .footer_link ul {
  display: flex;
  padding-left: 0;
}
footer .footer_link ul li {
  font-size: 1.25rem;
}
footer .footer_link ul li::after {
  content: "";
  padding-right: 3rem;
  margin-right: 3rem;
  border-right: 1px solid #fff;
}
footer .footer_link ul li:last-child::after {
  display: none;
}
footer .footer_link ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footer_bottom {
  display: flex;
  margin-top: 4.5rem;
}
footer .footer_bottom .contact {
  color: #fff;
  flex: 1;
  font-size: 1.25rem;
  line-height: 2;
}
footer .footer_bottom .contact a {
  text-decoration: none;
}
footer .footer_bottom .social {
  flex: 1;
}
footer .footer_bottom .social ul {
  padding-left: 0;
  display: flex;
}
footer .footer_bottom .social ul li {
  margin-right: 2.5rem;
}

footer .copyright {
  color: #999999;
  font-size: 1.25rem;
  margin-top: 4.5rem;
}
