@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('./color.css'); /*所有顏色設定檔*/

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Roboto', sans-serif;
}

/*手機版選單開啟 遮幕*/
.mobile_menu_close {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  display: none;
  z-index: 6;
  background: var(--menu-close-background);
}
.mobile_menu_close.active {
  display: flex;
}
@media (max-width: 992px) {
  .mobile_menu_close.active {
    display: flex;
  }
}

/*向上滑按鈕*/
.go_top {
  position: fixed;
  right: 38px;
  bottom: 12%;
  z-index: 7;
  width: 60px;
  height: 60px;
  background-color: var(--button-background);
  border-radius: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.go_top:hover {
  opacity: 0.8;
}
.go_top.active {
  display: flex;
}
.go_top::before {
  content: url(./img/arrow-up.svg);
  margin-bottom: -5px;
}
@media (max-width: 992px) {
  .go_top {
    right: 20px;
  }
}

/*側邊購物車*/
.go_cart {
  position: fixed;
  bottom: calc(12% + 60px);
  right: 20px;
  width: 100px;
  z-index: 6;
}
.go_cart a {
  display: block;
  position: relative;
  text-decoration: none;
}
.go_cart a:hover {
  opacity: 0.8;
}
.go_cart a img {
  max-width: 100%;
}
.go_cart a .text {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--text-white-color);
  font-size: 12px;
}
@media (max-width: 992px) {
  .go_cart {
    right: 3px;
  }
}

/*頁首*/
header {
  background-color: var(--top-bottom-background);
  position: relative;
  height: 70px;
}
.top_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*手機版選單 開啟按鈕*/
.top_main .mobile_nav {
  display: none;
  width: 36px;
  cursor: pointer;
}
.top_main .mobile_nav span {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--mobile-nav-color);
  transform-origin: left;
  transition-duration: 0.5s;
  margin-bottom: 12px;
}
.top_main .mobile_nav span:nth-child(1) {
  transform: scaleX(1);
}
.top_main .mobile_nav span:nth-child(2) {
  transform: scaleX(0.66);
}
.top_main .mobile_nav span:nth-child(3) {
  transform: scaleX(0.33);
  margin-bottom: 0;
}
.top_main .mobile_nav:hover span {
  transform: scaleX(1);
}
.top_main .mobile_nav.active span:nth-child(1) {
  transform: scaleX(1) rotate(45deg);
}
.top_main .mobile_nav.active span:nth-child(2) {
  transform: scaleX(0);
}
.top_main .mobile_nav.active span:nth-child(3) {
  transform: scaleX(1) rotate(-45deg);
}
/*手機版選單*/
.top_main .mobile_menu {
  position: absolute;
  width: 100%;
  background-color: var(--sub-nav-background);
  top: 100%;
  left: 0;
  z-index: 7;
  padding: 1.9rem 1.5rem 0 1.5rem;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.5s;
  display: none;
}
.top_main .mobile_menu.active {
  transform: scaleY(1);
}
.top_main .mobile_menu .main ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.top_main .mobile_menu .main ul li {
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
}
.top_main .mobile_menu .main ul li a {
  color: var(--text-white-color);
}

.top_main .mobile_menu > .main > ul > li > a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.top_main .mobile_menu > .main > ul > li > a:hover {
  opacity: 0.8;
}
.top_main .mobile_menu > .main > ul > li.sub > a::after {
  content: url(./img/caret-down.svg);
  margin: 0 0 0.4rem 0.5rem;
  display: block;
}
.top_main .mobile_menu > .main > ul > li > .sub_menu {
  display: none;
}
.top_main .mobile_menu > .main > ul > li.active > .sub_menu {
  display: block;
}
.top_main .mobile_menu > .main > ul > li > .sub_menu > ul {
  margin-left: 1.25rem;
  margin-top: 1rem;
}
.top_main .mobile_menu > .main > ul > li > .sub_menu > ul > li > a {
  text-decoration: none;
}
.top_main .mobile_menu > .main > ul > li > .sub_menu > ul > li > a:hover {
  opacity: 0.8;
}
/*手機版選單底部*/
.top_main > .mobile_menu > .bottom {
  margin-top: 2.5rem;
  border-top: 1px solid var(--text-white-color);
}
.top_main > .mobile_menu > .bottom > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.top_main > .mobile_menu > .bottom > ul > li {
  flex: 1;
  text-align: center;
  font-size: 1.15rem;
  cursor: pointer;
}
.top_main > .mobile_menu > .bottom > ul > li.sub.active {
  background-color: var(--mobile-button-active-background);
}
.top_main > .mobile_menu > .bottom > ul > li > a {
  color: var(--text-white-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
.top_main > .mobile_menu > .bottom > ul > li > a:hover {
  opacity: 0.8;
}
.top_main > .mobile_menu > .bottom > ul > li.cart_btn > a > span {
  width: 21px;
  height: 21px;
  background-color: var(--cart-qty-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  border-radius: 100%;
  font-size: 14px;
}
.top_main > .mobile_menu > .bottom > ul > li.sub > a::after {
  content: url(./img/caret-down.svg);
  margin: 0 0 0.4rem 0.5rem;
  display: block;
}
.top_main > .mobile_menu > .bottom > ul > li > .sub_menu {
  position: absolute;
  left: 0;
  top: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.5s;
  background-color: var(--sub-nav-background);
  width: 100%;
  padding: 1rem 1.5rem;
}
.top_main > .mobile_menu > .bottom > ul > li.active > .sub_menu {
  transform: scaleY(1);
  z-index: 7;
}
.top_main > .mobile_menu > .bottom > ul > li > .sub_menu > ul {
  list-style: none;
  padding-left: 0;
}
.top_main > .mobile_menu > .bottom > ul > li.user_btn > .sub_menu > ul > li {
  line-height: 2;
}
.top_main
  > .mobile_menu
  > .bottom
  > ul
  > li.user_btn
  > .sub_menu
  > ul
  > li
  > a {
  color: var(--text-white-color);
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
}
.top_main
  > .mobile_menu
  > .bottom
  > ul
  > li.user_btn
  > .sub_menu
  > ul
  > li
  > a:hover {
  background-color: var(--button-background);
}
.top_main > .mobile_menu > .bottom > ul > li.cart_btn > .sub_menu > ul {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--text-white-color);
}
.top_main > .mobile_menu > .bottom > ul > li.cart_btn > .sub_menu > ul > li {
  display: flex;
  justify-content: space-between;
  color: var(--text-white-color);
  line-height: 2;
}
.top_main > .mobile_menu > .bottom > ul > li.cart_btn > .sub_menu > .total {
  display: flex;
  justify-content: flex-end;
  color: var(--text-white-color);
  line-height: 2;
  border-bottom: 1px solid var(--text-white-color);
  padding: 0.5rem 0;
}
.top_main
  > .mobile_menu
  > .bottom
  > ul
  > li.cart_btn
  > .sub_menu
  > .cart_in_btn {
  background-color: var(--cart-button-background);
  margin-top: 1rem;
}
.top_main
  > .mobile_menu
  > .bottom
  > ul
  > li.cart_btn
  > .sub_menu
  > .cart_in_btn
  > a {
  color: var(--text-white-color);
  text-decoration: none;
  padding: 0.5rem 0;
  display: block;
}

/*logo*/
.top_main .logo a {
  width: 158px;
  padding: 5px 0;
  display: block;
}
.top_main .logo a:hover {
  opacity: 0.8;
}
/*pc 選單*/
.top_main > nav {
  height: 70px;
}
.top_main > nav > ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  height: 100%;
  align-items: center;
}
.top_main > nav > ul > li {
  font-size: 1.1rem;
  margin-right: 1.25rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.top_main > nav > ul > li:last-child {
  margin-right: 0;
}
.top_main > nav > ul > li > a {
  color: var(--text-white-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.top_main > nav > ul > li > a:hover {
  opacity: 0.8;
}
.top_main > nav > ul > li.sub > a::after {
  content: url(./img/caret-down.svg);
  margin: 0 0 0 0.5rem;
  display: block;
  transform: translateY(-3px);
}
.top_main > nav > ul > li.sub > div.sub_menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 8;
  width: 100%;
  background-color: var(--sub-nav-background);
  padding: 1.5rem 0;
  transform: scaleY(0);
  transition-duration: 0.3s;
  transform-origin: top;
}
.top_main > nav > ul > li.sub > div.sub_menu > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  max-width: 770px;
  margin: 0 auto;
}
.top_main > nav > ul > li.sub > div.sub_menu > ul > li{
  flex: 0 0 33.3%;
}
.top_main > nav > ul > li.sub > div.sub_menu > ul > li > a {
  color: var(--text-white-color);
  font-size: 1.15rem;
  text-decoration: none;
}
.top_main > nav > ul > li.sub > div.sub_menu > ul > li > a:hover {
  opacity: 0.8;
}

.top_main > nav > ul > li:hover > div.sub_menu {
  transform: scaleY(1);
}
/*會員登入 購物車 搜尋icon*/
.toolbar {
  height: 70px;
}
.toolbar > ul {
  padding-left: 0;
  display: flex;
  height: 100%;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
}
.toolbar > ul > li {
  margin-right: 0.75rem;
  height: 100%;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 0.75rem;
}
.toolbar > ul > li.search_btn {
  cursor: pointer;
}
.toolbar > ul > li > a {
  display: flex;
  align-items: center;
  color: var(--text-white-color);
  text-decoration: none;
}
.toolbar > ul > li > a:hover {
  opacity: 0.8;
}
.toolbar > ul > li:last-child {
  margin-right: 0;
}
.toolbar > ul > li.cart_btn > a > span {
  width: 21px;
  height: 21px;
  background-color: var(--cart-qty-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  border-radius: 100%;
  font-size: 14px;
}
.toolbar > ul > li.sub > a::after {
  content: url(./img/caret-down.svg);
  margin: 0 0 0 0.5rem;
  display: block;
  transform: translateY(-3px);
}
.toolbar > ul > li.sub.active {
  background-color: var(--nav-button-active-background);
}
.toolbar > ul > li > .sub_menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 6;
  background-color: var(--tooler-background);
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.5s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 0.5);
}
.toolbar > ul > li.sub.active > .sub_menu {
  z-index: 7;
}
.toolbar > ul > li > .sub_menu > ul {
  list-style: none;
  padding-left: 0;
}
.toolbar > ul > li.active > .sub_menu {
  transform: scaleY(1);
}
/*會員下拉選單*/
.toolbar > ul > li.user_btn > .sub_menu {
  width: 150px;
}
.toolbar > ul > li.user_btn > .sub_menu > ul > li > a {
  display: block;
  color: var(--text-light-black-color);
  text-decoration: none;
  padding: 0.9rem 0;
  text-align: center;
}
.toolbar > ul > li.user_btn > .sub_menu > ul > li > a:hover {
  background-color: var(--button-background);
  color: var(--text-white-color);
}
/*購物車下拉選單*/
.toolbar > ul > li.cart_btn > .sub_menu {
  width: 400px;
}
.toolbar > ul > li.cart_btn > .sub_menu > ul {
  padding: 0.5rem 1.25rem;
  border-bottom: 1px solid var(--tooler-border-color);
}
.toolbar > ul > li.cart_btn > .sub_menu > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  line-height: 1.5;
}
.toolbar > ul > li.cart_btn > .sub_menu > .total {
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
  border-bottom: 1px solid var(--tooler-border-color);
}
.toolbar > ul > li.cart_btn > .sub_menu > .cart_in_btn {
  padding: 0.5rem 1.25rem;
}
.toolbar > ul > li.cart_btn > .sub_menu > .cart_in_btn > a {
  background-color: var(--cart-button-background);
  color: var(--text-white-color);
  display: block;
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}
.toolbar > ul > li.cart_btn > .sub_menu > .cart_in_btn > a:hover {
  opacity: 0.8;
}
/*搜尋彈出bar*/
.search_bar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 6;
  background-color: var(--sub-nav-background);
  padding: 1rem 0;
  transform: scaleY(0);
  transition-duration: 0.3s;
  transform-origin: top;
}
.search_bar.active {
  transform: scaleY(1);
}
.search_bar .search_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_bar .search_inner input {
  background-color: inherit;
  outline: none;
  border: none;
  color: var(--text-white-color);
  font-size: 1.25rem;
  width: calc(100% - 105px);
  line-height: 38px;
}
.search_bar .search_inner button {
  background-color: var(--button-background);
  color: var(--text-white-color);
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 1.25rem;
}
.search_bar .search_inner button:hover {
  opacity: 0.8;
}
@media (max-width: 992px) {
  .top_main .mobile_nav {
    display: block;
  }
  .top_main > nav {
    display: none;
  }
  .top_main .mobile_menu {
    display: block;
  }
  .toolbar ul li {
    display: none;
  }
  .toolbar ul li.search_btn {
    display: flex;
  }
  .search_bar .search_inner {
    flex-wrap: wrap;
  }
  .search_bar .search_inner input {
    width: 100%;
    margin: 1rem 0 2rem 0;
  }
  .search_bar .search_inner button {
    width: 100%;
  }
}

/*首頁輪播區塊*/
.slider_block {
  position: relative;
}
.slider_block .owl-dots {
  position: absolute;
  right: 20px;
  bottom: 10%;
}
.slider_block .owl-dots .owl-dot {
  background-color: inherit;
  width: 20px;
  height: 20px;
  opacity: 1;
  margin: 6px;
  border: 1px solid var(--silder-dot-background);
  border-radius: 100%;
  display: block;
  outline: none;
  margin: 12px;
}
.slider_block .owl-dots .owl-dot:hover,
.slider_block .owl-dots .owl-dot.active {
  background-color: var(--silder-dot-background);
}
.slider_block img {
  width: 100%;
}
.slider_block .go_to {
  position: absolute;
  left: calc(50% - 40px);
  bottom: -40px;
  width: 80px;
  height: 80px;
  background-color: var(--go-to-news-background);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.slider_block .go_to::after {
  content: '';
  background-image: url(./img/Group\ 25.png);
  background-size: 100% 100%;
  display: block;
  width: 28px;
  height: 30px;
  transition-duration: 0.3s;
}
.slider_block .go_to:hover::after {
  transform: translateY(3px);
}
@media (max-width: 992px) {
  .slider_block .owl-dots {
    bottom: 10%;
    right: 16px;
  }
  .slider_block .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 6px;
  }

  .slider_block .go_to {
    left: calc(50% - 18px);
    bottom: -18px;
    width: 36px;
    height: 36px;
  }
  .slider_block .go_to::after {
    width: 14px;
    height: 14px;
  }
}

/*首頁最新消息區塊*/
.news_block {
  background-image: url(./img/img-newsSection.png);
  background-size: cover;
  background-position: center center;
  padding: 5rem 0;
  position: relative;
}
.news_title {
  color: var(--text-white-color);
  text-align: center;
  border-bottom: 1px solid var(--title-under-under-white-color);
  position: relative;
}
.news_title::after {
  content: '';
  border-bottom: 3px solid var(--title-under-color);
  width: 239px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
}
.news_title h1 {
  display: inline-block;
  margin: 0;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 500;
}
.news_title h1 span {
  font-weight: 300;
  margin: 0 8px;
}
.news_block .more {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  height: 71px;
  background-color: var(--button-background);
}
.news_block .more a {
  display: flex;
  color: var(--text-white-color);
  font-size: 1.25rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.news_block .more a:hover {
  opacity: 0.8;
}
/*首頁最新消息輪播*/
.news_slider {
  margin-top: 0.5rem;
  position: relative;
}
.news_slider .item {
  color: var(--text-white-color);
  text-align: center;
  max-width: 55%;
  margin: 0 auto;
}
.news_slider .item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 400;
  line-height: 1.5;
}
.news_slider .item p,
.news_slider .item .place {
  font-size: 1.25rem;
  line-height: 1.5;
}
.news_slider .item .btn {
  margin-top: 2rem;
  padding: 0;
  background-color: var(--news-item-button-background);
}
.news_slider .item .btn a {
  color: var(--text-white-color);
  font-size: 1.25rem;
  padding: 13px 35px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}
.news_slider .item .btn a:hover {
  opacity: 0.8;
}
.news_slider .owl-dots {
  display: none;
}
.news_slider .owl-nav {
  position: absolute;
  width: 100%;
  height: 0;
  top: calc(50% - 40px);
  display: flex;
  justify-content: space-between;
}
.news_slider.owl-carousel .owl-nav button.owl-prev,
.news_slider.owl-carousel .owl-nav button.owl-next {
  width: 80px;
  height: 80px;
  font-size: 60px;
  color: var(--news-silder-nav-button-background);
  outline: none;
}
.news_slider.owl-carousel .owl-nav button.owl-prev:hover,
.news_slider.owl-carousel .owl-nav button.owl-next:hover {
  opacity: 0.8;
}
.news_slider.owl-carousel .owl-nav button.owl-prev span,
.news_slider.owl-carousel .owl-nav button.owl-next span {
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .news_block {
    padding: 2.5rem 0;
  }
  .news_title {
    border-bottom: none;
  }
  .news_title h1 {
    font-size: 1.25rem;
  }
  .news_title::after {
    width: 180px;
  }
  .news_block .more {
    width: 88px;
    height: 40px;
  }
  .news_block .more a {
    font-size: 10px;
  }
  .news_slider .item h2 {
    margin: 0.8rem 0;
  }
  .news_slider .item p {
    margin-bottom: 0;
  }
  .news_slider .item h2,
  .news_slider .item p,
  .news_slider .item .place {
    font-size: 1rem;
  }
  .news_slider .item .btn a {
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}

/*首頁產品、影片共用大標題*/
.title_index {
  text-align: center;
  border-bottom: 1px solid var(--title-under-under-color);
  position: relative;
  color: var(--text-black-color);
}
.title_index::after {
  content: '';
  border-bottom: 3px solid var(--title-under-color);
  width: 239px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
}
.title_index h1 {
  display: inline-block;
  margin: 0;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 500;
}
.title_index h1 span {
  font-weight: 300;
  margin: 0 8px;
}
.title_index .more {
  position: absolute;
  right: 0;
  bottom: 8px;
}
.title_index .more a {
  color: var(--text-blue-color);
  font-size: 1rem;
  text-decoration: none;
}
.title_index .more a:hover {
  opacity: 0.8;
}
@media (max-width: 992px) {
  .title_index {
    text-align: left;
  }
  .title_index::after {
    left: 0;
    transform: translateX(0);
  }
}

/*首頁產品區塊*/
.products_block {
  padding-top: 6rem;
}
.products_block .list {
  margin-top: 2.5rem;
}
.products_block .list .item {
  margin-bottom: 2.5rem;
  text-decoration: none;
  display: block;
}
.products_block .list .item .img {
  padding-bottom: 100%;
  background-size: 100%;
  background-position: center center;
  margin-bottom: 10px;
  transition: background 0.5s;
}
.products_block .list .item .img:hover {
  background-size: 120%;
}
.products_block .list .item .title {
  color: var(--text-black-color);
  font-size: 1.15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.products_block .list .item .title:hover {
  opacity: 0.8;
}
.products_block .list .item .price {
  color: var(--text-brown-color);
  font-size: 1.15rem;
}
@media (max-width: 992px) {
  .products_block {
    padding-top: 3rem;
  }
  .products_block .col-sm-6:nth-child(2n + 1) {
    clear: both;
  }
  .products_block .list {
    margin-top: 1.25rem;
  }
  .products_block .list .item {
    margin-bottom: 1.25rem;
  }
}

/*首頁影片區塊*/
.video_block {
  margin-top: 2.5rem;
}
.video_block .list {
  margin-top: 2.5rem;
}
.video_block .list .item {
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.video_block .list .item:hover {
  opacity: 0.8;
}
.video_block .list .item .title {
  color: var(--text-black-color);
  font-size: 1.15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.video_block .list .item .img {
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
  position: relative;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 992px) {
  .video_block .list {
    margin-top: 1.25rem;
  }
  .video_block .list .item {
    margin-bottom: 1.25rem;
  }
}

/*首頁工藝師介紹區塊*/
.artisan_block:hover {
  opacity: 0.9;
}
.artisan_block .img {
  width: 100%;
  height: 0;
  padding-bottom: 50.9%;
  background-image: url(./img/img-artisan-artisanSection.png);
  background-size: cover;
  background-position: center center;
}
@media (max-width: 992px) {
  .artisan_block .img {
    padding-bottom: 90.7%;
  }
}

/*頁尾*/
footer {
  background-color:var(--top-bottom-background);
  padding: 2.5rem 0;
}
/*頁尾logo*/
footer .footer_logo {
  width: 249px;
}
footer .footer_logo a {
  display: block;
}
footer .footer_logo a:hover {
  opacity: 0.8;
}

footer .footer_content {
  padding: 0 3rem;
}
/*頁尾選單*/
footer .footer_link {
  margin-top: 4.5rem;
}
footer .footer_link ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
footer .footer_link ul li {
  font-size: 1.25rem;
}
footer .footer_link ul li::after {
  content: '';
  padding-right: 3rem;
  margin-right: 3rem;
  border-right: 1px solid var(--text-white-color);
}
footer .footer_link ul li:last-child::after {
  display: none;
}
footer .footer_link ul li a {
  color: var(--text-white-color);
  text-decoration: none;
}
footer .footer_link ul li a:hover {
  opacity: 0.8;
}

footer .footer_bottom {
  display: flex;
  margin-top: 4.5rem;
}
/*頁尾聯絡資訊*/
footer .footer_bottom .contact {
  color: var(--text-white-color);
  flex: 1;
  font-size: 1.25rem;
  line-height: 2;
}
footer .footer_bottom .contact a {
  text-decoration: none;
}
/*頁尾社群icon*/
footer .footer_bottom .social {
  flex: 1;
}
footer .footer_bottom .social ul {
  padding-left: 0;
  list-style: none;
  display: flex;
}
footer .footer_bottom .social ul li {
  margin-right: 2.5rem;
}
footer .footer_bottom .social ul li a:hover {
  opacity: 0.8;
}
/*頁尾版權宣告*/
footer .copyright {
  color: var(--text-gray-color);
  font-size: 1.25rem;
  margin-top: 4.5rem;
}
@media (max-width: 992px) {
  footer .footer_content {
    padding: 0;
  }
  footer .footer_link {
    margin-top: 2.25rem;
  }
  footer .footer_link ul {
    flex-wrap: wrap;
  }
  footer .footer_link ul li {
    flex-basis: 50%;
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
  footer .footer_link ul li::after {
    display: none;
  }
  footer .footer_bottom {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  footer .footer_bottom .contact {
    font-size: 1rem;
    flex-basis: 100%;
  }
  footer .footer_bottom .social {
    flex-basis: 100%;
    margin-top: 2.25rem;
  }
  footer .copyright {
    margin-top: 2.25rem;
  }
}

/*內頁共用框 上下距離*/
.contain {
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .contain {
    padding: 1rem 0;
  }
}

/*共用麵包屑*/
.bread {
  margin-bottom: 1rem;
}
.bread ul {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.bread ul li {
  font-size: 1.1rem;
  color: var(--text-gray-color);
}
.bread ul li a {
  color: var(--text-blue-color);
  text-decoration: none;
}
.bread ul li a:hover {
  opacity: 0.8;
}
.bread ul li::before {
  content: '/';
  margin: 0 5px;
  color: var(--text-light-gray-color);
}
.bread ul li:first-child::before {
  display: none;
}

/*關於我們 消息列表共用大標題*/
.b_title {
  color: var(--text-black-color);
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 1px solid var(--title-under-under-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 2;
  margin-bottom: 3rem;
}
.b_title span {
  margin: 0 5px;
  font-weight: 300;
}
.b_title::after {
  content: '';
  border-bottom: 3px solid var(--title-under-color);
  display: block;
  position: absolute;
  width: 282px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
}
@media (max-width: 992px) {
  .bread {
    margin-bottom: 0.5rem;
  }
  .b_title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    justify-content: left;
  }
  .b_title::after {
    left: 0;
    transform: translateX(0);
  }
}

/*品牌介紹*/
.brand .top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7.5rem;
  margin-bottom: 7.5rem;
  border-bottom: 1px solid var(--title-under-under-color);
}
.brand .top .img {
  width: 206px;
  margin-right: 3rem;
}
.brand .top .text .title {
  position: relative;
  margin-bottom: 3rem;
}
.brand .top .text .title span {
  color: var(--text-brown-color);
  font-size: 1.25rem;
  font-weight: 600;
  background: #fff;
  position: relative;
  z-index: 2;
  padding-right: 5px;
}
.brand .top .text .title::after {
  content: '';
  border-bottom: 1px solid var(--text-brown-color);
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.brand .top .text .desc {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-black-color);
}
.brand .top .text .desc p {
  margin-bottom: 1.25rem;
}
.brand .bottom {
  margin-bottom: 3rem;
}
.brand .bottom .img img {
  width: 100%;
  margin-bottom: 5rem;
}
.brand .bottom .title {
  display: flex;
  margin-bottom: 1rem;
}
.brand .bottom .title::before {
  content: '';
  display: block;
  flex: 2;
}
.brand .bottom .title .title_inner {
  flex: 5;
  position: relative;
}
.brand .bottom .title span {
  color: var(--text-brown-color);
  font-size: 1.25rem;
  font-weight: 600;
  background: #fff;
  position: relative;
  z-index: 2;
  padding-right: 5px;
}
.brand .bottom .title .title_inner::after {
  content: '';
  border-bottom: 1px solid var(--text-brown-color);
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.brand .bottom .list .item {
  display: flex;
  align-items: stretch;
}
.brand .bottom .list .item .years {
  flex: 2;
}
.brand .bottom .list .item .years .year {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 52px;
  justify-content: center;
  font-size: 1rem;
  color: var(--text-white-color);
}
.brand .bottom .list .item .years .now {
  color: var(--brand-year-now-color);
  text-align: center;
  margin-top: 20px;
  font-size: 1.25rem;
}
.brand .bottom .list .item:nth-child(2n + 1) .year {
  background-color: var(--brand-year-odd-background);
}
.brand .bottom .list .item:nth-child(2n) .year {
  background-color: var(--brand-year-even-background);
}
.brand .bottom .list .item .year::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 26px 0 26px;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.brand .bottom .list .item:nth-child(2n + 1) .year::before {
  border-color: var(--brand-year-odd-background) transparent transparent transparent;
}
.brand .bottom .list .item:nth-child(2n) .year::before {
  border-color: var(--brand-year-even-background) transparent transparent transparent;
}
.brand .bottom .list .item .year::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 26px 0 26px;
  border-color: var(--brand-year-arrow-color) transparent transparent transparent;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translate(-50%, 2px);
  z-index: 2;
}
.brand .bottom .list .item:last-child .year::after {
  display: none;
}
.brand .bottom .list .item .text {
  font-size: 1.25rem;
  display: flex;
  line-height: 2.5;
  flex: 5;
}
.brand .bottom .list .item .text label {
  font-weight: 300;
  color: var(--text-brown-color);
  margin-right: 5px;
}
.brand .bottom .list .item .text .desc {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.brand .bottom .list .item .text .desc li {
  display: flex;
}
.brand .bottom .list .item .text .desc li::before {
  content: '-';
  margin-right: 5px;
}
@media (max-width: 992px) {
  .brand .top {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }
  .brand .top .img {
    display: none;
  }
  .brand .bottom .img img {
    margin-bottom: 1rem;
  }
  .brand .top .text .title {
    margin-bottom: 1rem;
  }
  .brand .bottom .title::before {
    display: none;
  }
  .brand .bottom .list .item .years {
    display: none;
  }
}

/*工藝師專區*/
/*人物介紹 區塊*/
.artisan_item {
  display: flex;
  width: 664px;
  margin: 0 auto 6rem auto;
}
.artisan_item .img {
  margin-right: 2rem;
}
.artisan_item .text {
  margin-top: 0.75rem;
  color: var(--text-black-color);
}
.artisan_item .text .main .m_img {
  display: none;
}
.artisan_item .text .main .name {
  font-size: 2rem;
  font-weight: 900;
  color: var(--text-middle-black-color);
  line-height: 1.1;
}
.artisan_item .text .main .name::after {
  content: '';
  border-bottom: 2px solid var(--text-middle-black-color);
  width: 35px;
  display: block;
  margin: 1.25rem 0 5rem;
}
.artisan_item .text .desc {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.artisan_item .text .work label {
  display: block;
  font-weight: 900;
  font-size: 1.1rem;
}
.artisan_item .text .work p {
  display: block;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 0;
}
/*工藝師專區 圖片在左側*/
.artisan_item.left {
  flex-direction: row;
}
.artisan_item.left .img {
  margin-right: 2rem;
}
.artisan_item.left .main .m_img {
  margin-right: 1.5rem;
}
/*工藝師專區 圖片在右側*/
.artisan_item.right {
  flex-direction: row-reverse;
}
.artisan_item.right .img {
  margin-left: 2rem;
}
.artisan_item.right .main .m_img {
  margin-left: 1.5rem;
}
/*工藝師專區 中間跟下面插入兩張圖*/
.middle_img img {
  width: 100%;
}
.bottom_img {
  text-align: right;
}
.bottom_img img {
  width: 1057px;
  max-width: 100%;
}

@media (max-width: 992px) {
  .artisan_item {
    width: 100%;
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto 2rem auto;
  }
  .artisan_item .img {
    display: none;
  }
  .artisan_item.left .text .main {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }
  .artisan_item.right .text .main {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  .artisan_item .text .main .m_img {
    display: block;
    width: 163px;
  }
  .artisan_item .text .main .name {
    font-size: 1.75rem;
  }
  .artisan_item .text .main .name::after {
    margin: 0.75rem 0 0 0;
  }
  .artisan_item.left .text .main .name::after {
    margin-right: auto;
  }
  .artisan_item.right .text .main .name::after {
    margin-left: auto;
  }
  .artisan_item .text .main .name br {
    display: none;
  }
  .artisan_item .text .desc {
    margin-top: 1rem;
  }
}

/*企業服務*/
.service .list {
  width: 840px;
  margin: 0 auto;
}
.service .list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9rem;
}
.service .list .item:last-child {
  margin-bottom: 0;
}
.service .list .item .img {
  flex: 4;
  position: relative;
  order: 1;
}
.service .list .item .img .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: var(--button-background);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 2;
}
.service .list .item .img .circle img {
  width: 25px;
  height: 25px;
}
.service .list .item .img img {
  width: 100%;
}
.service .list .item .text {
  flex: 3;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: right;
  position: relative;
  order: 2;
}
.service .list .item .text::before {
  content: '';
  display: block;
  border-bottom: 2px solid var(--button-background);
  transform: translateY(50%);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 1;
}
.service .list .item .text span {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding: 0 0 0 10px;
  display: inline-block;
  color: var(--text-black-color);
}

.service .list .item:nth-child(2n) .img {
  order: 2;
}
.service .list .item:nth-child(2n) .text {
  order: 1;
}
.service .list .item:nth-child(2n) .img .circle {
  left: 0;
  right: unset;
  transform: translate(-50%, -50%);
}
.service .list .item:nth-child(2n) .text {
  text-align: left;
}
.service .list .item:nth-child(2n) .text span {
  padding: 0 10px 0 0;
}
@media (max-width: 992px) {
  .service .list {
    width: 100%;
  }
  .service .list .item {
    margin-bottom: 3rem;
  }
  .service .list .item .img {
    flex: 6;
  }
  .service .list .item .img .circle {
    width: 30px;
    height: 30px;
  }
  .service .list .item .img .circle img {
    width: 15px;
    height: 15px;
  }
  .service .list .item .text {
    font-size: 0.9rem;
    flex: 5;
  }
  .service .list .item .text span {
    max-width: 70%;
    text-align: center;
    margin-top: 4px;
  }
}

/*據點*/
.store .location {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.store .location .popup {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px dashed var(--store-popup-border-color);
  background-color: var(--store-popup-background);
  border-radius: 20px;
  padding: 15px;
  transform: translate(-25%, 10%) scale(0);
  transform-origin: center;
  transition-duration: 0.3s;
  width: 375px;
}
.store .location .popup.red {
  border-color: var(--store-popup-red-border-color);
}
.store .location .popup.active {
  transform: translate(-25%, 10%) scale(1);
}
.store .location .popup .cross {
  display: none;
  justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 5px;
}
.store .location .popup .cross i {
  color: var(--button-background);
  font-size: 2rem;
}
.store .location .popup .cross i:hover{
  opacity: .8;
}
.store .location .popup .img {
  margin-bottom: 0.5rem;
  padding-bottom: 57.5%;
  height: 0;
  overflow: hidden;
}
.store .location .popup .img img {
  width: 100%;
}
.store .location .popup .title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.store .location .popup .addr {
  font-size: 1rem;
  font-weight: 500;
}
.store .abroad {
  margin-top: 4rem;
}
.store .abroad .list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: 0 auto;
}
.store .abroad .list .item {
  flex: 1 0 50%;
  font-size: 1.75rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.store .abroad .list .item::before {
  content: '';
  background-image: url(./img/location/據點_地標35X49.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-self: stretch;
  width: 37px;
  margin-right: 10px;
  display: block;
}
/*地圖 svg*/
.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #e8d9c7;
}
.st1 {
  clip-path: url(#SVGID_2_);
}
.st2 {
  fill: var(--store-popup-border-color);
}
.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #efe2d4;
}
.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #e6d1bc;
}
.st5 {
  clip-path: url(#SVGID_6_);
}
.st6 {
  fill: var(--store-popup-red-border-color);
}
.st7 {
  clip-path: url(#SVGID_10_);
}
.st8 {
  clip-path: url(#SVGID_14_);
}
.st9 {
  clip-path: url(#SVGID_18_);
}
.st10 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: var(--store-popup-red-border-color);
}
.st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: var(--store-popup-border-color);
}
#juming,
#hpipark,
#woody,
#cmcp,
#hinoki {
  cursor: pointer;
}
#juming:hover > #newtaipei,
#hpipark:hover > #keelung,
#woody:hover > #yilan,
#cmcp:hover > #changhua,
#hinoki:hover > #chiayi,
#juming.active > #newtaipei,
#hpipark.active > #keelung,
#woody.active > #yilan,
#cmcp.active > #changhua,
#hinoki.active > #chiayi {
  fill: var(--store-button-hover-background);
}
.map_line{
  position: absolute;
  border-bottom: 3px dashed var(--store-popup-border-color);
  transform-origin: left;
}
.map_line.hpipark {
  width: 29%;
  top: 16%;
  left: 31%;
  transform: rotate(10deg);
}
.map_line.juming {
  width: 25%;
  top: 16%;
  left: 31%;
  transform: rotate(5deg);
}
.map_line.woody {
  width: 32%;
  border-color: var(--store-popup-red-border-color);
  top: 24%;
  left: 31%;
  transform: rotate(25deg);
}
.map_line.cmcp {
  width: 24%;
  top: 30%;
  left: 21%;
  transform: rotate(75deg);
}
.map_line.hinoki {
  width: 38%;
  top: 30%;
  left: 21%;
  transform: rotate(81deg);
}
@media (max-width: 1150px) {
  .store .location .popup {
    width: 300px;
    left: 6%;
  }
}
@media (max-width: 900px) {
  .store .location .popup {
    left: 0;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    width: 100%;
    padding: 10px 15px 15px 15px;
  }
  .store .location .popup.active {
    transform: translate(0, -50%) scale(1);
  }
  .store .location .popup .cross {
    display: flex;
  }
  .store .abroad .list .item {
    flex: 1 0 100%;
    font-size: 1.25rem;
  }
  .store .abroad .list .item::before {
    width: 20px;
  }
  .map_line {
    display: none;
  }
}

/*最新消息列表*/
.news_list {
  width: 824px;
  margin: 0 auto;
}
a.news_item {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  justify-content: center;
  text-decoration: none;
  flex-direction: row;
}
a.news_item:nth-child(2n) {
  flex-direction: row-reverse;
}
a.news_item .image {
  flex: 3;
}
a.news_item:nth-child(2n + 1) .image {
  margin-right: 2.25rem;
}
a.news_item:nth-child(2n) .image {
  margin-left: 2.25rem;
}
a.news_item .image .img {
  padding-bottom: 65%;
  background-size: 100%;
  background-position: center;
  transition-duration: 0.5s;
}
a.news_item .text {
  flex: 3;
}
a.news_item:nth-child(2n + 1) .text {
  margin-right: 2.25rem;
}
a.news_item:nth-child(2n) .text {
  margin-left: 2.25rem;
}
a.news_item .text .time {
  color: var(--text-middle-black-color);
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
}
a.news_item .text .title {
  color: var(--text-black-color);
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  font-weight: 700;
}
a.news_item .text .desc {
  color: var(--text-black-color);
  font-size: 1rem;
}
a.news_item .news_btn {
  flex: 1;
  position: relative;
}
a.news_item .news_btn .arrow {
  width: 59px;
  display: block;
  border-bottom: 1px solid var(--text-middle-black-color);
  position: relative;
  z-index: 3;
  margin: auto;
  transition-duration: 0.5s;
}
a.news_item .news_btn .arrow::before {
  content: '';
  position: absolute;
  right: 0;
  z-index: 2;
  width: 20px;
  display: inline-block;
  border-bottom: 1px solid var(--text-middle-black-color);
  transform: rotate(45deg);
  transform-origin: right bottom;
}
a.news_item .news_btn .circle {
  position: absolute;
  right: calc(50% - 48px);
  top: calc(50% - 10px);
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--text-light-gray-color);
  transform: scale(0);
  transition-duration: 0.5s;
}
a.news_item:hover .image .img {
  background-size: 120%;
}
a.news_item:hover .news_btn .arrow {
  transform: translateX(10px);
}
a.news_item:hover .news_btn .circle {
  transform: scale(1);
}

@media (max-width: 992px) {
  .news_list {
    width: 100%;
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }
  a.news_item {
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  a.news_item .image {
    margin: 0 !important;
    flex: 0 0 120px;
    order: 1;
  }
  a.news_item .text {
    margin: 0 !important;
    flex-basis: 100%;
    order: 3;
    margin-top: 0.9rem !important;
  }
  a.news_item .text .time {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  a.news_item .text .title {
    font-size: 1.25rem;
    margin-bottom: 5px;
  }
  a.news_item .news_btn {
    flex-basis: 50%;
    order: 2;
  }
  a.news_item .news_btn .arrow {
    margin-right: 25px;
  }
  a.news_item .news_btn .circle {
    right: 5px;
  }
}

/*最新消息列表 產品列表 共用頁數*/
.pager_nav {
  text-align: center;
}
.pager_nav .pagination > li > a {
  color: var(--button-background);
  border-color: var(--button-background);
}
.pager_nav .pagination > li.active > a{
  color: var(--text-white-color);
  background-color: var(--button-background);
}

@media (max-width: 992px) {
 
}

/*最新消息內頁 上下頁按鈕*/
.go_back {
  display: flex;
  justify-content: space-between;
  margin: 6rem 0;
}
.go_back a {
  text-align: center;
  margin: 0 0.5rem;
  border: 1px solid var(--button-background);
  flex: 1;
  padding: 10px;
  background-color: var(--button-background);
  color: var(--text-white-color);
  text-decoration: none;
  font-size: 1rem;
}
.go_back a:hover {
  opacity: 0.8;
}
.go_back a.pre,
.go_back a.next {
  background-color: #fff;
  color: var(--text-black-color);
  border-color: var(--text-middle-black-color);
}
.go_back a.pre {
  margin-left: 0;
}
.go_back a.next {
  margin-right: 0;
}
@media (max-width: 992px) {
  .go_back {
    margin: 3rem 0;
  }
}

/*消息內頁*/
.news_info {
  width: 494px;
  max-width: 100%;
  margin: 3.25rem auto;
}
.news_info .img {
  margin-bottom: 3.25rem;
}
.news_info .img img {
  max-width: 100%;
}
.news_info .title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.25rem;
}
.news_info .time {
  font-size: 0.9rem;
  padding-bottom: 10px;
  margin-bottom: 3.25rem;
  border-bottom: 1px solid var(--text-middle-black-color);
  color: var(--text-middle-black-color);
}
.news_info .editor p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .news_info {
    width: 100%;
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .news_info .img {
    margin-bottom: 1.25rem;
  }
  .news_info .title {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .news_info .time {
    margin-bottom: 1.25rem;
  }
}

/*左側垂直選單*/
.side-menu,
.side-menu-child,
.side-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
.side-menu > li {
  display: block;
  margin-bottom: 15px;
}
.side-menu > li > a {
  display: block;
  padding: 10px 15px;
  background: var(--button-background);
  color: var(--text-white-color);
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
}
.side-menu-child > li > a {
  display: block;
  padding: 10px 15px;
  font-size: 15px;
  color: var(--text-light-black-color);
  border-bottom: 1px solid var(--side-menu-underline-color);
  text-decoration: none;
}
.side-menu-child > li > a:hover {
  background: var(--side-menu-hover-background);
  text-decoration: none;
}

/*產品共用標題*/
.title_product {
  text-align: left;
  border-bottom: 1px solid var(--title-under-under-color);
  position: relative;
  color: var(--text-black-color);
  margin-bottom: 2.5rem;
}
.title_product::after {
  content: '';
  border-bottom: 3px solid var(--title-under-color);
  width: 239px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
}
.title_product h1 {
  display: inline-block;
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 500;
}
.title_product .more {
  position: absolute;
  right: 0;
  bottom: 8px;
}
.title_product .more a {
  color: var(--text-blue-color);
  font-size: 1rem;
  text-decoration: none;
}
.title_product .more a:hover {
  opacity: 0.8;
}

@media (max-width: 992px) {
  .title_product {
    margin-bottom: 1.5rem;
  }
}

/*產品列表 banner*/
.prod-list-banner {
  margin-bottom: 2.5rem;
}
.prod-list-banner img {
  width: 100%;
}

@media (max-width: 992px) {
  .prod-list-banner {
    margin-bottom: 1.5rem;
  }
}

/*產品列表*/
.product_section {
  margin-bottom: 3rem;
}
.prod-list .prod-title {
  font-size: 18px;
  color: var(--text-black-color);
  padding-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.prod-list img {
  width: 100%;
}
.prod-list .prod-price {
  color: var(--text-brown-color);
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .prod-list .col-sm-4:nth-child(3n + 1) {
    clear: both;
  }
}
@media (max-width: 992px) {
  .prod-list .col-xs-6:nth-child(2n + 1) {
    clear: both;
  }
}

/*共用編輯器編輯區塊*/
.editor {
  font-size: 1rem;
  line-height: 1.5;
}
.editor img {
  margin-bottom: 0.75rem;
  max-width: 100%;
}

/*產品內頁*/
/*產品內頁 產品上半部 產品圖片及右側產品描述*/
.product_top {
  display: flex;
  margin-bottom: 3rem;
}
/*產品圖片及小圖*/
.product_top .product_pic {
  width: 409px;
  margin-right: 1rem;
}
.product_top .product_pic img {
  width: 100%;
  margin-bottom: 1.25rem;
}
.product_top ul.small_pic {
  list-style: none;
  padding-left: 0;
  display: flex;
  width: 100%;
}
.product_top ul.small_pic li {
  width: 22%;
  margin-right: 4%;
  cursor: pointer;
  background-size: cover;
  padding-bottom: 23%;
  border: 2px solid var(--product-small_pic-border-color);
}
.product_top ul.small_pic li.active {
  border: 2px solid var(--product-small_pic-active-border-color);
}
.product_top ul.small_pic li:last-child {
  margin-right: 0;
}
/*產品上半部右側*/
.product_top .product_text {
  flex: 1;
}
.product_text .share {
  display: flex;
  justify-content: flex-end;
}
.product_text .share .share_icon {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.product_text .share .share_icon img {
  margin-right: 5px;
}
.product_text h1 {
  font-size: 1.5rem;
}
.product_text .desc {
  background-color: var(--product-side-desc-background);
  padding: 10px;
  font-size: 15px;
  margin-bottom: 1.25rem;
  line-height: 1.5;
}
.product_text .price {
  color: var(--text-brown-color);
  font-size: 1.15rem;
  border-bottom: 1px solid var(--product-side-price-underline-color);
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
}

/*產品內頁 數量及加入購物車按鈕*/
.purchase {
  display: flex;
  justify-content: space-between;
}
.purchase .qty {
  display: flex;
  width: 156px;
}
.purchase .qty .minus,
.purchase .qty .plus {
  border: 1px solid var(--product-qty-button-border-color);
  background-color: var(--product-qty-button-background);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}
.purchase .qty .minus:hover,
.purchase .qty .plus:hover {
  background-color: var(--product-qty-button-hover-background);
}
.purchase .qty .minus {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
.purchase .qty .plus {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}
.purchase .qty input {
  width: calc(100% - 64px);
  border: 1px solid var(--product-qty-button-border-color);
  height: 32px;
  padding: 5px;
  border-radius: 0;
  outline: none;
}
.purchase .btn {
  background-color: var(--product-purchase-button-background);
  color: var(--text-white-color);
  width: 154px;
}

/*產品內頁 產品描述tab*/
.product_desc ul.tab_nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  border-bottom: 1px solid var(--title-under-under-color);
  margin-bottom: 1rem;
}
.product_desc ul.tab_nav li {
  position: relative;
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: var(--text-light-gray-color);
  line-height: 2;
  cursor: pointer;
}
.product_desc ul.tab_nav li.active {
  color: var(--text-black-color);
}
.product_desc ul.tab_nav li.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  border-bottom: 3px solid var(--title-under-color);
  transform: translateY(50%);
}
.product_desc .tab_panel {
  display: none;
  padding: 1rem 0;
}
.product_desc .tab_panel.active {
  display: block;
}
/*推薦商品*/
.relation {
  margin-top: 2rem;
}
.relation .title_product {
  margin-bottom: 2.5rem;
}
.relation .title_product h1 {
  position: relative;
}
.relation .title_product h1::after {
  content: '';
  border-bottom: 3px solid var(--title-under-color);
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
}
.relation .title_product::after {
  display: none;
}

@media (max-width: 992px) {
  .product_top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .product_top .product_pic {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
  .product_text .price {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .purchase {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    padding: 15px;
  }
  .purchase .btn {
    flex: 1;
  }
  .purchase .qty {
    flex: 2;
    margin-right: 10px;
  }
}

/*login*/
.login-right .btn {
  margin-bottom: 15px;
}
.btn-custom {
  color: var(--text-white-color);
  background-color: var(--regist-button-background);
  border-color: var(--regist-button-border-color);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: var(--text-white-color);
  background-color: var(--regist-button-hover-background);
  border-color: var(--regist-button-hover-border-color);
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: var(--regist-button-background);
  border-color: var(--regist-button-border-color);
}

.btn-fb {
  color: var(--text-white-color);
  background-color: var(--fb-button-background);
  border-color: var(--fb-button-background);
}

.btn-fb:hover,
.btn-fb:focus,
.btn-fb:active,
.btn-fb.active,
.open .dropdown-toggle.btn-fb {
  color: var(--text-white-color);
  background-color: var(--fb-button-hover-background);
  border-color: var(--fb-button-hover-background);
}

.btn-fb:active,
.btn-fb.active,
.open .dropdown-toggle.btn-fb {
  background-image: none;
}

.btn-fb.disabled,
.btn-fb[disabled],
fieldset[disabled] .btn-fb,
.btn-fb.disabled:hover,
.btn-fb[disabled]:hover,
fieldset[disabled] .btn-fb:hover,
.btn-fb.disabled:focus,
.btn-fb[disabled]:focus,
fieldset[disabled] .btn-fb:focus,
.btn-fb.disabled:active,
.btn-fb[disabled]:active,
fieldset[disabled] .btn-fb:active,
.btn-fb.disabled.active,
.btn-fb[disabled].active,
fieldset[disabled] .btn-fb.active {
  background-color: var(--fb-button-hover-background);
  border-color: var(--fb-button-hover-background);
}

.alert-register {
  border-color: var(--button-background);
  background-color: var(--button-background);
  color: var(--text-white-color);
}

.policy h4 {
  color: var(--text-brown-color);
  font-weight: 800;
  border-bottom-style: inset;
  border-bottom-color: var(--text-brown-color);
}

/*購物流程圖*/
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-row {
  display: table-row;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: var(--stepwizard-line-color);
  z-index: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-step .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.stepwizard-step a:hover {
  background: var(--stepwizard-button-background);
  border-color: var(--stepwizard-button-border-color);
  cursor: default;
}

.stepwizard-step.active a {
  background: var(--stepwizard-button-active-background);
  color: var(--text-white-color);
}

/*購物車 付款頁面 框*/
.form-box {
  border: 1px solid var(--cart-table-border-color);
  padding: 15px;
  overflow: hidden;
}

.order-title {
  background: var(--cart-table-border-color);
  color: var(--text-black-color);
  padding: 15px;
}

.shop-table-title {
  color: var(--cart-table-title-color);
  font-weight: 900;
  border-bottom: 1px solid var(--cart-table-border-color);
  padding-bottom: 15px;
}
.shop-table-body {
  padding-bottom: 15px;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .shop_cart-list-tag {
    display: none;
  }
}

.free-shipping-tip {
  padding: 5px 10px;
  background: var(--cart-tip-background);
  color: var(--text-white-color);
  display: inline-block;
}

.shop-table-footer .row {
  padding: 10px 0;
}

.page-heading {
  border-bottom: 1px solid var(--title-under-under-color);
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  position: relative;
}

.page-heading.ms {
  margin-top: 10px;
}

.panel {
  margin-top: 15px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .page-heading {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .page-heading.ms {
    margin-top: 15px;
  }
}

.page-heading-title {
  font-size: 24px;
  border-bottom: 3px solid var(--title-under-color);
  line-height: 40px;
  padding-bottom: 5px;
}

.back-btn,
.next-btn,
.back-btn:hover,
.next-btn:hover,
.back-btn:focus,
.next-btn:focus {
  background-color: var(--button-background);
  border-color: var(--button-background);
}
.back-btn:hover,
.next-btn:hover {
  opacity: 0.8;
}

.log-in,
.log-in:hover,
.log-in:focus {
  background-color: var(--button-background);
  border-color: var(--button-background);
}
.log-in:hover {
  opacity: 0.8;
}

.edit_btn,
.edit_btn:hover,
.edit_btn:focus {
  background-color: var(--button-background);
  border-color: var(--button-background);
}
.edit_btn:hover {
  opacity: 0.8;
}

.member_edit {
  position: relative;
}

.password_btn,
.password_btn:hover,
.password_btn:focus {
  background-color: var(--button-background);
  border-color: var(--button-background);
}
.password_btn:hover {
  opacity: 0.8;
}

.password_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid var(--member-password-popup-border-color);
  background-color: var(--member-password-popup-background);
  padding: 15px;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  border-radius: 5px;
  display: none;
}
.password_popup .cross {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.password_popup .cross i {
  color: var(--member-password-popup-close-color);
  font-size: 2rem;
}
.password_popup.active {
  display: block;
}
.password_popup .title {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 600;
  border-bottom: 1px solid var(--member-password-title-underline-color);
  margin-bottom: 1.25rem;
}
.password_popup .list {
  display: flex;
  margin-bottom: 1rem;
}
.password_popup .list label {
  flex: 0 0 100px;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.password_popup .list .text {
  flex: 6;
}
.password_popup .list .text input {
  background-color: var(--member-password-input-background);
  border: 1px solid var(--member-password-input-border-color);
  border-radius: 4px;
  margin-right: 0.75rem;
  width: 300px;
  padding: 6px 12px;
  font-size: 14px;
}
.password_popup .list .text span {
  font-size: 0.75rem;
}
.password_popup .bottom {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.password_popup .bottom .btn {
  margin-right: 3rem;
}
.password_popup .bottom .btn:last-child {
  margin-right: 0;
}
@media (max-width: 992px) {
  .password_popup .list {
    flex-wrap: wrap;
  }
  .password_popup .list label {
    justify-content: flex-start;
    margin-bottom: 10px;
    flex: 1 0 100%;
  }
  .password_popup .list .text {
    flex: 1 0 100%;
  }
  .password_popup .list .text input {
    width: 100%;
  }
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: var(--button-background);
  border-color: var(--button-background);
}

/*會員資料修改*/
.sex {
  margin-top: 6px;
}
