@model WoodyIconShopModel.Models.ADSetting

@{ 
    WoodyIconShopModel.Models.ShopConfig shopConfig = ViewBag.shopConfig;
}
@if (Model != null)
{
    <a href="@Model.ADURL">
        <img class="img-responsive" src="@ViewBag.shopConfig.ServerImgPath@Model.ImageSetting.Name">
    </a>
}

