@model IEnumerable<WoodyIconShopModel.Models.ProductRecommend>

@{
    WoodyIconShopModel.Models.ShopConfig shopConfig = ViewBag.shopConfig;
    var i = 1;
}
<div class="page-heading">
    <span class="page-heading-title">推薦商品</span>
</div>
<div class="row prod-list">


    @foreach (var recommend in Model)
    {
        WoodyIconShopModel.Models.ProductImage image = recommend.Recommend.ProductImage.Where(pi => pi.Main && pi.ImageSetting != null && pi.ImageSetting.IsEnable).FirstOrDefault();
        string imageurl = Url.Content("~/Content/images/transparent.png");
        if (image != null)
        {
            imageurl = Url.Content(shopConfig.ServerImgPath + image.ImageSetting.Name);
        }

        <div class="col-xs-6 col-sm-3">
            <a href="@Url.Action("ProductDetail", "Product", new { Id = recommend.RecommendId })"><img class="prod-img img-responsive" src="@imageurl"></a>
            <div class="prod-title">@recommend.Recommend.Name</div>
            <div class="prod-price">$@WoodyIconShopModel.Models.ProductPresenter.GetPrice(recommend.Recommend)</div>
        </div>


        if (i % 2 == 0)
        {
            <div class="row-fix hidden-sm hidden-md hidden-lg"></div>
        }

        i++;
    }
</div>

