@model IEnumerable<WoodyIconShopModel.Models.ProductType>


@{

    int intType = (int)ViewBag.ThisType;

}

<ul class="side-menu">
    @foreach (var mainType in Model.Where(t => t.UpperId == 0))
    {
        <li>
            <a href="@Url.Action("Index", "Product", new { type = mainType.Id })">@mainType.Typename</a>
            <ul class="side-menu-child">
                @foreach (var type in Model.Where(t => t.UpperId == mainType.Id))
                {
                    <li><a href="@Url.Action("Index", "Product", new { type = type.Id })">@type.Typename</a></li>
                }
            </ul>
        </li>

    }
</ul>