
@{
    ViewBag.Title = "商品列表";





}


<!-- 產品列表內容開始 -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2 hidden-xs">
                @Html.Action("_B2BType", "Product", new { type = ((WoodyIconShopModel.Models.ViewModel.ProductSearchViewModel)ViewData["searchProduct"]).type })
            </div>
            <div class="col-xs-12 col-sm-10">
                <div class="prod-list-banner">
                    @Html.Action("_B2BBanner", "Product")
                </div>
                <div id="product">
                    @Html.Action("_B2BProduct", "Product", (WoodyIconShopModel.Models.ViewModel.ProductSearchViewModel)ViewData["searchProduct"])
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /產品列表內容結束 -->


@section Scripts
{
<script src="@Url.Content("~/Scripts/clamp.min.js")"></script>
<script>


    $('.carousel').carousel({
        interval: 5000,
    });

    clamp_product_title();


    function clamp_product_title() {
        //設定商品名稱縮排
        var product_title = document.getElementsByClassName('product-title');

        for (var i = 0; i < product_title.length; i++) {
            $clamp(product_title[i].getElementsByTagName('p')[0], { clamp: 2 });
        }
    }

</script>
}