@model IEnumerable<WoodyIconShopModel.Models.Banner>
@using WoodyIconShopModel.Models
@{ 
    ShopConfig shopConfig = ViewBag.shopConfig;
}

<div class="slider banner">
    @foreach (var item in Model)
    {
        <div>
            <a href="@item.BURL">
                <img class="img-responsive" src="@Url.Content(shopConfig.ServerImgPath)@item.ImageSetting.Name">
            </a>
        </div>
    }

</div>

