@{
    //************************************************
    // Copyright (c) 2016 January Technology Corporation
    // Created by: Alex
    // Created Date: 2017/04/28
    //************************************************

    ViewBag.Title = "關於珍田";
}


<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <img src="@Url.Content("~/Content/_images/about_title.png")" class="hidden-xs hidden-sm img-responsive about-title">
            </div>
            <div class="col-sm-12 col-md-9">
                <article>
                    <div class="page-heading ms text-center">
                        <span class="page-heading-title">華宥企業有限公司</span>
                    </div>
                    <h2>一、	經營理念</h2>
                    <figcaption>
                        <img src="@Url.Content("~/Content/_images/about1.png")" class="img-responsive">
                        <figure>成為安心、健康、美味的食品最佳提供者</figure>
                    </figcaption>
                    <p>
                        華宥企業有限公司勤耕於有機健康產業，致力於天然健康有機產品的推廣，堅持使用優良的天然有機原物料，開發一系列的無添加優質加工品，建立自有品牌，鏈接自然、土地、人、陽光、空氣、土壤和水，利用純淨的土地，孕育出最高品質的純粹蔬果，我們把健康分享給您，讓您享受每個食物的真滋味，回歸最天然原始的純粹，送上新鮮給您，持續的堅持就是我們的態度。
                    </p>
                    <h2>二、	珍田-品牌理念</h2>
                    <figcaption>
                        <img src="@Url.Content("~/Content/_images/about2.jpg")" class="img-responsive">
                        <figure>Logo含意：以田為出發點，將其轉化為作物的幼苗，讓消費者不只吃得安心，更能為無汙染的田地貢獻一份心力。</figure>
                    </figcaption>
                    <p>
                        我們用行動表示，從田地出發，使用最少的農場外來物質，採取回復、維持及加強生態平衡之作業方式，協合農友消費者一同愛惜大地。
                    </p>
                    <p>
                        珍田秉持提供消費者安心、健康、美味的公司堅持，使用優良的天然有機食品原物料，營養健康加值配方的研製，經過檢驗單位的安全驗證，一次一次的口味調整，希望能提供最優質的產品，在消費者享受珍田美味時，也能體會珍田的堅持和用心。
                    </p>
                </article>

            </div>

            </div>
        </div>
</div>
