@model WoodyIconShopModel.Models.Cart.Cart

<!--有金額時套用 shopcart-shortcut-active 無金額時套用shopcart-shortcut -->

<a @(Model.Count > 0 ? "href=" + Url.Action("Cart", "Pay") : "")>
    <div class="affix hidden-xs @(Model.Count > 0 ? "shopcart-shortcut-active" : "shopcart-shortcut")">
        @String.Format("{0:n0}", Model.TotalAmount)<br />
        結帳去
    </div>
</a>